functional-tests/http/src/test/resources/http-request-ntlm-proxy-dynamic-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="ntlmProxyConfig" basePath="basePath">
        <http:request-connection host="localhost" port="9999">
            <http:proxy-config>
                <http:ntlm-proxy host="localhost" port="${httpPort}" username="Zaphod" password="#[vars.ntlmPassword]" ntlmDomain="Ursa-Minor" />
            </http:proxy-config>
        </http:request-connection>
    </http:request-config>

    <flow name="ntlmFlowWithCorrectPassword">
<!--        <set-variable variableName="ntlmPassword" value="Beeblebrox"/>-->
        <http:request config-ref="ntlmProxyConfig" path="requestPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="ntlmFlowWithWrongPassword">
<!--        <set-variable variableName="ntlmPassword" value="wrongPassword"/>-->
        <http:request config-ref="ntlmProxyConfig" path="requestPath">
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>
</mule>
