functional-tests/http/src/test/resources/http-listener-headers-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="empty">
        <http:listener config-ref="listenerConfig" path="emptyHeader"/>
        <set-payload value="#[attributes.headers['${header}']]"/>
    </flow>

    <flow name="simple">
        <http:listener config-ref="listenerConfig" path="simpleHeader"/>
        <set-payload value="#[attributes.headers['${header}']]"/>
    </flow>

    <flow name="multipleString">
        <http:listener config-ref="listenerConfig" path="multipleHeadersString"/>
        <set-payload value="#[attributes.headers.*'${header}'[-1]]"/>
    </flow>

    <flow name="multipleCollection">
        <http:listener config-ref="listenerConfig" path="multipleHeadersCollection"/>
        <set-payload value="#[attributes.headers.*'${header}'[0]]"/>
    </flow>

    <flow name="returnHeaders">
        <http:listener config-ref="listenerConfig" path="returnHeaders">
            <http:response>
                <http:headers>
                    #[{'X-Custom-Int' : 3, 'X-Custom-String' : '4'}]
                </http:headers>
            </http:response>
        </http:listener>
        <logger/>
    </flow>
</mule>
