functional-tests/http/src/test/resources/http-request-ntlm-proxy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="ntlmProxy" basePath="basePath">
        <http:request-connection host="localhost" port="9999">
            <http:proxy-config>
                <http:ntlm-proxy host="localhost" port="${httpPort}" username="client@EXAMPLE.COM" password="${keytabPath}" ntlmDomain="Ursa-Minor" />
            </http:proxy-config>
        </http:request-connection>
    </http:request-config>
    <flow name="ntlmFlow">
        <http:request config-ref="ntlmProxy" path="requestPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>



    <http:request-config name="ntlmConfigWithDomain">
        <http:request-connection host="localhost" port="${httpPort}">
            <http:authentication>
                <http:ntlm-authentication username="client@EXAMPLE.COM" password="${keytabPath}" domain="Ursa-Minor"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="ntlmAuthRequestWithDomain">
        <http:request config-ref="ntlmConfigWithDomain" path="/" method="GET"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

</mule>
