functional-tests/http/src/test/resources/http-listener-insecure-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <tls:context name="globalTlsContext" >
        <tls:trust-store path="${sslCacerts}" password="${password}" type="${storeType}"/>
        <tls:key-store path="${serverKeyStore}" keyPassword="mulepassword" password="mulepassword" type="${storeType}"/>
    </tls:context>

    <http:listener-config name="insecureConfig">
        <http:listener-connection protocol="HTTPS" host="localhost" port="${port1}">
            <tls:context>
                <tls:trust-store path="${sslCacerts}" password="${password}" type="${storeType}" insecure="true"/>
                <tls:key-store path="${sslTestKeyStore}" keyPassword="changeit" password="${password}" type="${storeType}"/>
            </tls:context>
        </http:listener-connection>
    </http:listener-config>

    <http:listener-config name="secureConfig">
        <http:listener-connection protocol="HTTPS" host="localhost" port="${port2}">
            <tls:context>
                <tls:trust-store path="${sslCacerts}" password="${password}" type="${storeType}" />
                <tls:key-store path="${sslTestKeyStore}" keyPassword="changeit" password="${password}" type="${storeType}"/>
            </tls:context>
        </http:listener-connection>
    </http:listener-config>

    <http:request-config name="clientGlobalConfig">
        <http:request-connection protocol="HTTPS" host="localhost" port="#[vars.port]" tlsContext="globalTlsContext"/>
    </http:request-config>

    <flow name="testInsecureServer">
        <http:listener config-ref="insecureConfig" path="/"/>
        <logger/>
    </flow>

    <flow name="testSecureServer">
        <http:listener config-ref="secureConfig" path="/"/>
        <logger/>
    </flow>

    <flow name="testRequestToInsecure">
        <http:request config-ref="clientGlobalConfig" path="/" method="POST"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="testRequestToSecure">
        <http:request config-ref="clientGlobalConfig" path="/" method="POST"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

</mule>
