functional-tests/http/src/test/resources/http-listener-custom-tls-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <tls:context name="globalTlsContext" >
        <tls:trust-store path="${trustStorePath}" password="${password}" type="${storeType}"/>
        <tls:key-store path="${keyStorePath}" keyPassword="changeit" password="${password}" type="${storeType}"/>
    </tls:context>

    <http:listener-config name="globalConfig">
        <http:listener-connection protocol="HTTPS" host="localhost" port="${port1}" tlsContext="globalTlsContext"/>
    </http:listener-config>

    <http:listener-config name="nestedConfig">
        <http:listener-connection protocol="HTTPS" host="localhost" port="${port2}">
            <tls:context>
                <tls:trust-store path="${trustStorePath}" password="${password}" type="${storeType}"/>
                <tls:key-store path="${keyStorePath}" keyPassword="changeit" password="${password}" type="${storeType}"/>
            </tls:context>
        </http:listener-connection>
    </http:listener-config>

    <http:request-config name="clientGlobalConfig">
        <http:request-connection protocol="HTTPS" host="localhost" port="#[vars.port]" tlsContext="globalTlsContext"/>
    </http:request-config>

    <flow name="testFlowGlobalContext">
        <http:listener config-ref="globalConfig" path="/" allowedMethods="GET"/>
        <set-payload value="#['ok ' ++ attributes.clientCertificate.'type']"/>
    </flow>

    <flow name="testFlowNestedContext">
        <http:listener config-ref="nestedConfig" path="/" allowedMethods="POST"/>
        <set-payload value="#['all right ' ++ attributes.clientCertificate.'type']"/>
    </flow>


    <flow name="testFlowGlobalContextClient">
        <http:request config-ref="clientGlobalConfig" path="/" method="GET"/>
    </flow>

    <flow name="testFlowNestedContextClient">
        <http:request config-ref="clientGlobalConfig" path="/" method="POST"/>
    </flow>

</mule>
