functional-tests/http/src/test/resources/http-listener-response-builder-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="emptyResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${emptyResponseBuilderPath}">
            <http:response />
        </http:listener>
        <logger/>
    </flow>

    <flow name="twoHeadersResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${twoHeadersResponseBuilderPath}">
            <http:response>
                <http:headers>
                    #[{'content-type' : 'text/x-javascript', 'Content-Type' : 'application/json'}]
                </http:headers>
            </http:response>
        </http:listener>
        <logger/>
    </flow>

    <flow name="statusResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${statusResponseBuilderPath}">
            <http:response statusCode="201" reasonPhrase="everything works!"/>
        </http:listener>
        <logger level="ERROR" message="#[payload]"/>
    </flow>

    <flow name="invalidStatusResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${invalidStatusResponseBuilderPath}">
            <http:response statusCode="150" reasonPhrase="everything works!"/>
        </http:listener>
        <logger level="ERROR" message="#[payload]"/>
    </flow>

    <flow name="headerResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${headerResponseBuilderPath}">
            <http:response>
                <http:headers>
                    #[{'User-Agent' : 'Mule 4.0.0', 'Date' : '2016-06-08T13:34:41.080-03:00'}]
                </http:headers>
            </http:response>
        </http:listener>
        <logger/>
    </flow>

    <flow name="headersResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${headersResponseBuilderPath}">
            <http:response>
                <http:headers>#[{'User-Agent': 'Mule 4.0.0','Date': now()}]</http:headers>
            </http:response>
        </http:listener>
        <logger/>
    </flow>

    <flow name="headersOverrideResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${headersOverrideResponseBuilderPath}">
            <http:response>
                <http:headers>
                    #[{'User-Agent': 'Mule 4.0.0','Date': now()}]
                </http:headers>
            </http:response>
        </http:listener>
        <logger/>
    </flow>

    <flow name="defaultReasonPhraseResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${defaultReasonPhraseResponseBuilderPath}">
            <http:response statusCode="200"/>
        </http:listener>
        <logger/>
    </flow>

    <flow name="noReasonPhraseUnknownStatusCodeResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${noReasonPhraseUnknownStatusCodeResponseBuilderPath}">
            <http:response statusCode="1001"/>
        </http:listener>
        <logger/>
    </flow>

    <flow name="errorEmptyResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${errorEmptyResponseBuilderPath}">
            <http:error-response />
        </http:listener>
        <test:processor throwException="true"/>
    </flow>

    <flow name="errorStatusResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${errorStatusResponseBuilderPath}">
            <http:error-response statusCode="201" reasonPhrase="everything works!"/>
        </http:listener>
        <logger level="ERROR" message="#[payload]"/>
        <test:processor throwException="true"/>
    </flow>

    <flow name="invalidErrorStatusResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${invalidErrorStatusResponseBuilderPath}">
            <http:error-response statusCode="35" reasonPhrase="everything works!"/>
        </http:listener>
        <logger level="ERROR" message="#[payload]"/>
        <test:processor throwException="true"/>
    </flow>

    <flow name="errorHeaderResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${errorHeaderResponseBuilderPath}">
            <http:error-response>
                <http:headers>#[{'User-Agent': 'Mule 4.0.0','Date': now()}]</http:headers>
            </http:error-response>
        </http:listener>
        <test:processor throwException="true"/>
    </flow>

    <flow name="errorHeadersResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${errorHeadersResponseBuilderPath}">
            <http:error-response>
                <http:headers>
                    #[{'User-Agent': 'Mule 4.0.0','Date': now()}]
                </http:headers>
            </http:error-response>
        </http:listener>
        <test:processor throwException="true"/>
    </flow>

    <flow name="errorHeadersOverrideResponseBuilderFlow">
        <http:listener config-ref="listenerConfig" path="${errorHeadersOverrideResponseBuilderPath}">
            <http:error-response>
                <http:headers>
                    #[{'User-Agent': 'Mule 4.0.0','Date': now()}]
                </http:headers>
            </http:error-response>
        </http:listener>
        <test:processor throwException="true"/>
    </flow>

    <flow name="responseBuilderAndErrorResponseBuilderNotTheSame">
        <http:listener config-ref="listenerConfig" path="${responseBuilderAndErrorResponseBuilderNotTheSamePath}">
            <http:response statusCode="202"/>
            <http:error-response statusCode="505"/>
        </http:listener>
        <choice>
            <when expression="#[attributes.headers.fail != null]">
                <test:processor throwException="true" exceptionText="Missing header."/>
            </when>
        </choice>
    </flow>

</mule>
