functional-tests/http/src/test/resources/http-request-paths-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="configWithBasePath" basePath="#[vars.basePath]">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>
    <http:request-config name="configWithoutBasePath">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="requestWithBasePath">
        <http:request config-ref="configWithBasePath" path="#[vars.requestPath]"/>
    </flow>

    <flow name="requestWithoutBasePath">
        <http:request config-ref="configWithoutBasePath" path="#[vars.requestPath]"/>
    </flow>

</mule>
