functional-tests/http/src/test/resources/http-request-insecure-hostname-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <tls:context name="globalTlsContext">
        <tls:key-store path="${sslKeyStoreWithTestHostname}" keyPassword="changeit" password="${password}" type="${storeType}"/>
    </tls:context>

    <http:listener-config name="hostnameListener">
        <http:listener-connection protocol="HTTPS" host="localhost" port="${port1}" tlsContext="globalTlsContext"/>
    </http:listener-config>

    <http:request-config name="insecureClient">
        <http:request-connection protocol="HTTPS" host="localhost" port="${port1}">
            <tls:context>
                <tls:trust-store path="${sslCacerts}" password="${password}" insecure="${insecure}" type="${storeType}"/>
            </tls:context>
        </http:request-connection>
    </http:request-config>

    <http:request-config name="secureClient">
        <http:request-connection protocol="HTTPS" host="localhost" port="${port1}">
            <tls:context>
                <tls:trust-store path="${sslCacerts}" password="${password}" type="${storeType}"/>
            </tls:context>
        </http:request-connection>
    </http:request-config>

    <flow name="testFlowNestedContext">
        <http:listener config-ref="hostnameListener" path="/" allowedMethods="POST"/>
        <logger/>
    </flow>

    <flow name="testInsecureRequest">
        <http:request config-ref="insecureClient" path="/" method="POST"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="testSecureRequest">
        <http:request config-ref="secureClient" path="/" method="POST"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>
</mule>
