functional-tests/http/src/test/resources/http-request-follow-redirects-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="noFollowRedirects">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="withFollowRedirects" followRedirects="false">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="withFollowRedirectsExpression" followRedirects="#[vars.redirect]">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="httpsConfig">
        <http:request-connection protocol="HTTPS" host="localhost" port="${httpsPort}">
            <tls:context>
                <tls:trust-store path="tls/trustStore" password="mulepassword"/>
                <tls:key-store path="tls/clientKeystore" keyPassword="mulepassword" password="mulepassword"/>
            </tls:context>
        </http:request-connection>
    </http:request-config>

    <flow name="default">
        <http:request config-ref="noFollowRedirects" path="testPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="followRedirects">
        <http:request config-ref="noFollowRedirects" path="testPath" followRedirects="true"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="dontFollowRedirects">
        <http:request config-ref="noFollowRedirects" path="testPath" followRedirects="false"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="followRedirectsExpression">
        <http:request config-ref="noFollowRedirects" path="testPath" followRedirects="#[vars.redirect]"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="fromConfig">
        <http:request config-ref="withFollowRedirects" path="testPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="overrideConfig">
        <http:request config-ref="withFollowRedirects" path="testPath" followRedirects="true"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="fromConfigExpression">
        <http:request config-ref="withFollowRedirectsExpression" path="testPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="followRedirectsHttps">
        <http:request config-ref="httpsConfig" path="testPath" followRedirects="true"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>
</mule>
