src/test/munit/header-too-long/header-too-long-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
      	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="header-too-long-test-case" minMuleVersion="4.2.3"/>

    <munit:dynamic-port propertyName="dynamic.port"/>

    <http:listener-config name="HttpListenerConfig" doc:name="listener" >
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}" />
    </http:listener-config>

    <http:request-config name="HttpRequestConfig" >
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>
    <munit:test name="header-too-long-test" description="Test">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="ListenerFlow" />
        </munit:enable-flow-sources>
        <munit:execution >
            <try doc:name="Try" doc:id="4c64049c-d03e-4d49-9afc-41e9ec1fd3ef" >
                <http:request method="GET" doc:name="Request" path="/" config-ref="HttpRequestConfig">
                    <http:headers><![CDATA[#[%dw 2.0
import * from dw::core::Strings
---
{
 "name":repeat("path",3000)
}]]]></http:headers>
                </http:request>
                <error-handler >
                    <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bf4f7911-69e9-40e6-8937-dd6ac75ac59d" >
                        <set-variable value="#[error.description]" doc:name="Set Variable" doc:id="fb860e88-5f66-419a-857a-ef50daaae82b" variableName="errorMessage"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that doc:name="Assert that" doc:id="aa1cf034-0b19-4706-a995-bcb5fc0730d7" is="#[MunitTools::containsString('failed with status code 413')]" expression="#[vars.errorMessage]"/>
        </munit:validation>
    </munit:test>
    <flow name="ListenerFlow" >
        <http:listener doc:name="Listener" config-ref="HttpListenerConfig" path="*" responseStreamingMode="NEVER">
            <non-repeatable-stream />
        </http:listener>
        <set-payload value='#["Dummy payload"]' doc:name="Set Payload" />
    </flow>

</mule>
