src/test/munit/selectors-non-blocking/selectors-non-blocking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
      	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="selectors-non-blocking"/>

    <munit:dynamic-port propertyName="dynamic.port"/>

    <http:listener-config name="Listener_config" doc:name="HTTP Listener config" >
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}" />
    </http:listener-config>

    <http:request-config name="HTTP_Request_config" >
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>

    <munit:test name="Some selector is available while handling slow requests" description="Test">
        <munit:enable-flow-sources >
            <munit:enable-flow-source value="TestFlow" />
        </munit:enable-flow-sources>
        <munit:execution >
            <java:invoke-static doc:name="Spawn as many slow requests as selector threads" class="org.mule.test.SlowRequester" method="spawnSlowRequests(Integer)" >
                <java:args>#[{arg0: p('dynamic.port')}]</java:args>
            </java:invoke-static>

            <http:request method="GET" doc:name="Test Request" path="/test" config-ref="HTTP_Request_config"/>
            <set-variable value="#[payload as String]" doc:name="Set Variable" variableName="test_response"/>

            <java:invoke-static doc:name="Close sockets" class="org.mule.test.SlowRequester" method="closeSockets()"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals doc:name="Assert (N+1)th request completed (some selector was available)" actual="#[vars.test_response]" expected='#["Test payload"]'/>
        </munit:validation>
    </munit:test>
    
    <flow name="TestFlow" >
        <http:listener doc:name="Test" path="/test" config-ref="Listener_config" />
        <logger />
        <set-payload value='#["Test payload"]' />
    </flow>
</mule>
