mule-http-mock-extension/src/test/munit/server-endpoint/all-interfaces-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http-mock="http://www.mulesoft.org/schema/mule/http-mock"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/http-mock http://www.mulesoft.org/schema/mule/http-mock/current/mule-http-mock.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">

    <munit:config name="all-interfaces-test-case.xml" />

    <!-- Mock server config -->
    <munit:dynamic-port propertyName="mock.dynamic.port" />
    <http-mock:server-config name="serverConfig" >
        <http-mock:server-connection port="${mock.dynamic.port}" />
    </http-mock:server-config>
    <flow name="mockFlow">
        <http-mock:server-endpoint config-ref="serverConfig" path="/mock" />
        <logger />
    </flow>

    <!-- Test configuration -->
    <http:request-config name="all-interfaces-RequestConfig">
        <http:request-connection host="localhost" port="${mock.dynamic.port}" />
    </http:request-config>

    <!-- Test case -->
    <munit:test name="listeningToAllInterfaces" >
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mockFlow" />
        </munit:enable-flow-sources>
        <munit:execution>
            <http:request config-ref="all-interfaces-RequestConfig" path="/mock" responseTimeout="2000000" />
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[%dw 2.0 output application/java --- payload.^raw as String]" is="#[MunitTools::containsString('Hello Eze')]" />
        </munit:validation>
    </munit:test>
</mule>
