mule-http-connector/src/test/munit/response-streaming/selectors-not-being-blocked-when-response-streaming.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
      	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="selectors-not-being-blocked-when-response-streaming" minMuleVersion="4.2.3"/>

    <munit:dynamic-port propertyName="dynamic.port"/>

    <http:listener-config name="Listener_config" >
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}" />
    </http:listener-config>

    <http:request-config name="HTTP_Request_config" >
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>

    <munit:test name="Some selector is available while streaming" description="Test">
        <munit:enable-flow-sources >
            <munit:enable-flow-source value="TheStreamingFlow" />
            <munit:enable-flow-source value="OtherFlow" />
        </munit:enable-flow-sources>
        <munit:execution >
            <set-variable variableName="requestsNumber" value="#[%dw 2.0
import java!org::mule::test::PipedStreamGenerator
output application/java
---
PipedStreamGenerator::availableProcessors()]"/>
            <logger level="INFO" message='#["Will send " ++ vars.requestsNumber ++ " requests"]'/>
            <flow-ref name="SpawnRequests"/>
            <java:invoke-static class="org.mule.test.PipedStreamGenerator" method="waitForSources()" />
            <java:invoke-static class="org.mule.test.PipedStreamGenerator" method="writeChunkInStreams()" />
            <java:invoke-static class="org.mule.test.PipedStreamGenerator" method="writeChunkInStreams()" />
            <http:request method="GET" path="/dummy" config-ref="HTTP_Request_config"/>
            <set-variable value="#[payload as String]" variableName="dummy_response"/>
            <java:invoke-static class="org.mule.test.PipedStreamGenerator" method="closeStreams()"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[vars.dummy_response]" expected='#["Dummy payload"]'/>
        </munit:validation>
    </munit:test>
    <sub-flow name="SpawnRequests" >
        <foreach collection="#[1 to vars.requestsNumber]">
            <async>
                <logger message="#['Spawning request #' ++ payload]" level="ERROR" />
                <http:request method="GET" path="/stream" config-ref="HTTP_Request_config" requestStreamingMode="ALWAYS" />
            </async>
        </foreach>
    </sub-flow>

    <flow name="TheStreamingFlow" >
        <http:listener path="/stream" config-ref="Listener_config">
            <non-repeatable-stream />
        </http:listener>
        <java:invoke-static class="org.mule.test.PipedStreamGenerator" method="createPipedStream()"/>
    </flow>
    <flow name="OtherFlow" >
        <http:listener config-ref="Listener_config" path="/dummy" responseStreamingMode="NEVER">
            <non-repeatable-stream />
        </http:listener>
        <set-payload value='#["Dummy payload"]' />
    </flow>

</mule>
