mule-http-connector/src/test/munit/read-timeout/read-timeout-parameter-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/1.9.3/mule-http.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">

    <munit:config name="read-timeout-parameter-test-case.xml" minMuleVersion="4.5.0"/>

    <munit:dynamic-port propertyName="dynamic.port"/>

    <!-- Target Application -->
    <http:listener-config name="ReadTimeoutParameterHttpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}"  readTimeout="10000"/>
    </http:listener-config>
    <flow name="readTimeoutParameterFlow" >
        <http:listener config-ref="ReadTimeoutParameterHttpListenerConfig" path="/test" />
        <logger level="ERROR" message="#[payload]"/>
        <error-handler >
            <on-error-continue>
                <set-payload value="#[error.cause.cause.cause.class]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Test configuration -->
    <sockets:request-config name="socketReadTimeoutConfig">
        <sockets:tcp-requester-connection host="localhost" port="${dynamic.port}">
            <sockets:protocol >
                <sockets:direct-protocol />
            </sockets:protocol>
        </sockets:tcp-requester-connection>
    </sockets:request-config>

    <!--  Setting test timeout to 12 seconds since the set read timeout time is 10 seconds -->
    <munit:test name="serverStopsReadingWhenReadTimeout" description="serverStopsReadingWhenTheSetReadTimeoutEnds" timeOut="12000" >
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="readTimeoutParameterFlow" />
        </munit:enable-flow-sources>

        <munit:execution>
            <sockets:send-and-receive config-ref="socketReadTimeoutConfig">
                <sockets:content><![CDATA[POST /test HTTP/1.1
Host: localhost:8081
Content-Length: 10000

2

]]></sockets:content>
            </sockets:send-and-receive>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that is="#[MunitTools::containsString('Timeout')]" expression="#[payload as String]"/>
        </munit:validation>
    </munit:test>
</mule>