src/test/munit/polling-source/http-polling-source-splitting-expressions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">

    <munit:config name="http-polling-source-splitting-expressions.xml"/>

    <munit:dynamic-port propertyName="dynamic.port"/>

    <http:listener-config name="mimeTypeEndpoint">
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}"/>
    </http:listener-config>

    <http:request-config name="splittingConfig" sendBodyMode="ALWAYS">
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>

    <flow name="jsonListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/json"/>
        <set-payload value="#[output application/json --- [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}]]"/>
    </flow>

    <flow name="jsonPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="json">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression><![CDATA[#[payload]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="json_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="json-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="jsonListenerFlow"/>
            <munit:enable-flow-source value="jsonPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="json_queue"/>
            <set-variable variableName="firstName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="json_queue"/>
            <set-variable variableName="secondName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="json_queue"/>
            <set-variable variableName="thirdName" value="#[payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstName]" is="#[MunitTools::equalTo('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.secondName]" is="#[MunitTools::equalTo('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.thirdName]" is="#[MunitTools::equalTo('Franek')]"/>
        </munit:validation>
    </munit:test>

    <flow name="textListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/text"/>
        <set-payload value="#['Hola Don Pepito, Hola Don José']"/>
    </flow>

    <flow name="textPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="text">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression><![CDATA[#[payload as String splitBy(', ')]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="text_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="text-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="textListenerFlow"/>
            <munit:enable-flow-source value="textPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="text_queue"/>
            <set-variable variableName="firstGreeting" value="#[payload]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="text_queue"/>
            <set-variable variableName="secondGreeting" value="#[payload]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstGreeting]" is="#[MunitTools::equalTo('Hola Don Pepito')]"/>
            <munit-tools:assert-that expression="#[vars.secondGreeting]" is="#[MunitTools::equalTo('Hola Don José')]"/>
        </munit:validation>
    </munit:test>


    <flow name="xmlListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/xml"/>
        <set-payload
                value="#[output application/xml --- {'something': {'element': [{name: 'Maks'}, {name: 'Franek'}, {name: 'Jola'}]}}]"/>
    </flow>

    <flow name="xmlPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="xml">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression>
                <![CDATA[#[output application/json --- payload.something.*element]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="xml_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="xml-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="xmlListenerFlow"/>
            <munit:enable-flow-source value="xmlPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="xml_queue"/>
            <set-variable variableName="firstName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="xml_queue"/>
            <set-variable variableName="secondName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="xml_queue"/>
            <set-variable variableName="thirdName" value="#[payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstName]" is="#[MunitTools::equalTo('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.secondName]" is="#[MunitTools::equalTo('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.thirdName]" is="#[MunitTools::equalTo('Jola')]"/>
        </munit:validation>
    </munit:test>

    <flow name="javaListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/java"/>
        <set-payload
                value="#[output application/java --- 'values': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}]]"/>
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="javaPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="java">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression><![CDATA[#[payload.values]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="java_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="java-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="javaListenerFlow"/>
            <munit:enable-flow-source value="javaPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="java_queue"/>
            <set-variable variableName="firstName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="java_queue"/>
            <set-variable variableName="secondName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="java_queue"/>
            <set-variable variableName="thirdName" value="#[payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstName]" is="#[MunitTools::equalTo('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.secondName]" is="#[MunitTools::equalTo('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.thirdName]" is="#[MunitTools::equalTo('Franek')]"/>
        </munit:validation>
    </munit:test>

    <flow name="csvListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/csv"/>
        <set-payload
                value="#[output application/csv --- [{'name': 'Rodrigo Merino', 'alias': 'Rodro'}, {'name': 'Ezequiel Werner', 'alias': 'Eze'}, {'name': 'Esteban Wasinger Espro', 'alias': 'Steve'}]]"/>
    </flow>

    <flow name="csvPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="csv">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression><![CDATA[#[output application/json --- payload]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="csv_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="csv-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="csvListenerFlow"/>
            <munit:enable-flow-source value="csvPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="csv_queue"/>
            <set-variable variableName="firstName" value="#[payload.alias]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="csv_queue"/>
            <set-variable variableName="secondName" value="#[payload.alias]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="csv_queue"/>
            <set-variable variableName="thirdName" value="#[payload.alias]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstName]" is="#[MunitTools::equalTo('Rodro')]"/>
            <munit-tools:assert-that expression="#[vars.secondName]" is="#[MunitTools::equalTo('Eze')]"/>
            <munit-tools:assert-that expression="#[vars.thirdName]" is="#[MunitTools::equalTo('Steve')]"/>
        </munit:validation>
    </munit:test>

    <flow name="yamlListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/yaml"/>
        <set-payload value="#[output application/yaml --- {'people': [{'name': 'Fernando'}, {'name': 'Julia'}]}]"/>
    </flow>

    <flow name="yamlPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="yaml">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:split-expression><![CDATA[#[payload.people]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="yaml_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="yaml-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="yamlListenerFlow"/>
            <munit:enable-flow-source value="yamlPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="yaml_queue"/>
            <set-variable variableName="firstName" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="yaml_queue"/>
            <set-variable variableName="secondName" value="#[payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.firstName]" is="#[MunitTools::equalTo('Fernando')]"/>
            <munit-tools:assert-that expression="#[vars.secondName]" is="#[MunitTools::equalTo('Julia')]"/>
        </munit:validation>
    </munit:test>

    <flow name="multipartListenerFlow">
        <http:listener config-ref="mimeTypeEndpoint" path="/multipart">
            <http:response>
                <http:body>
                    #[
                    %dw 2.0
                    output multipart/form-data
                    boundary='34b21'
                    ---
                    {
                    parts : {
                        text : {
                            headers : {
                            "Content-Type": "text/plain"
                            },
                            content : "Book"
                        },
                        file1 : {
                            headers : {
                                "Content-Disposition" : {
                                    "name": "file1",
                                    "filename": "a.json"
                                },
                                "Content-Type" : "application/json"
                            },
                            content : {
                                title: "Java 8 in Action",
                                author: "Mario Fusco",
                                year: 2014
                            }
                        },
                        file2 : {
                            headers : {
                                "Content-Disposition" : {
                                    "filename": "a.html",
                                    "name": "file2"
                                },
                                "Content-Type" : "application/json"
                            },
                            content : {
                                title: "Java 8 in Action",
                                author: "Jan Kucharzewski",
                                year: 2014
                            }
                        }
                    }
                    }]
                </http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart"/>
    </flow>

    <flow name="multipartPollingFlow">
        <http:polling-source config-ref="splittingConfig" path="multipart">
            <scheduling-strategy>
                <fixed-frequency frequency="10" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-body><![CDATA[Jan Kucharzewski]]></http:request-body>
            <http:split-expression><![CDATA[#[output application/json --- [payload.parts.file1.content, payload.parts.file2.content]]]]></http:split-expression>
        </http:polling-source>
        <munit-tools:queue queueName="multipart_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="multipart-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="multipartListenerFlow"/>
            <munit:enable-flow-source value="multipartPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="multipart_queue"/>
            <set-variable variableName="first" value="#[payload.author]"/>
            <munit-tools:dequeue timeout="3" timeoutUnit="SECONDS" queueName="multipart_queue"/>
            <set-variable variableName="second" value="#[payload.author]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.first]" is="#[MunitTools::equalTo('Mario Fusco')]"/>
            <munit-tools:assert-that expression="#[vars.second]" is="#[MunitTools::equalTo('Jan Kucharzewski')]"/>
        </munit:validation>
    </munit:test>


</mule>