src/test/munit/polling-source/watermarking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
    <munit:config name="watermarking.xml" />

    <munit:dynamic-port propertyName="dynamic.port"/>

    <http:listener-config name="watermarkListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${dynamic.port}"/>
    </http:listener-config>

    <http:request-config name="watermarkRequestConfig" sendBodyMode="ALWAYS">
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>


    <flow name="watermarkInPayloadListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/watermark-payload"/>
        <choice>
            <when expression="#[payload.watermark == null]">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}], 'wm': 0}]"/>
            </when>
            <when expression="#[payload.watermark == '0']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Jola'}], 'wm': 1}]"/>
            </when>
            <when expression="#[payload.watermark == '1']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Paulina'}, {'name': 'Philip'}], 'wm': 2}]"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': [], 'wm': 3}]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="watermarkInPayloadPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="watermark-payload">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-body><![CDATA[#[output application/json --- {'watermark': watermark}]]]></http:request-body>
            <http:request-headers >
                <http:request-header key="Content-Type" value="application/json" />
            </http:request-headers>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[payload.wm]]]></http:watermark-expression>
            <!--http:id-expression><![CDATA[#[item.name]]]></http:id-expression-->
        </http:polling-source>
        <munit-tools:queue queueName="watermark_payload_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="watermark-payload-test-case">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="watermarkInPayloadListenerFlow"/>
            <munit:enable-flow-source value="watermarkInPayloadPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_payload_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>

    <flow name="watermarkInItemListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/watermark-item"/>
        <choice>
            <when expression="#[payload.watermark == null]">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam', 'wm': 0}, {'name': 'Maks', 'wm': 1}, {'name': 'Franek', 'wm': 2}]}]"/>
            </when>
            <when expression="#[payload.watermark == '2']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina', 'wm': 3}, {'name': 'Jola', 'wm': 4}]}]"/>
            </when>
            <when expression="#[payload.watermark == '4']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Paulina', 'wm': 5}, {'name': 'Philip', 'wm': 6}]}]"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': [], 'wm': 7}]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="watermarkInItemPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="watermark-item">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-body><![CDATA[#[output application/json --- {'watermark': watermark}]]]></http:request-body>
            <http:request-headers >
                <http:request-header key="Content-Type" value="application/json" />
            </http:request-headers>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[item.wm]]]></http:watermark-expression>
            <http:id-expression><![CDATA[#[item.name]]]></http:id-expression>
        </http:polling-source>
        <munit-tools:queue queueName="watermark_item_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="watermark-item-test-case">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="watermarkInItemListenerFlow"/>
            <munit:enable-flow-source value="watermarkInItemPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_item_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>

    <flow name="watermarkInHeaderListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/watermark-header">
            <http:response>
                <http:headers>
                    #[{'water' : vars.wm}]
                </http:headers>
            </http:response>
        </http:listener>
        <choice>
            <when expression="#[payload.watermark == null]">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}]}]"/>
                <set-variable variableName="wm" value="0"/>
            </when>
            <when expression="#[payload.watermark == '0']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Jola'}]}]"/>
                <set-variable variableName="wm" value="1"/>
            </when>
            <when expression="#[payload.watermark == '1']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Paulina'}, {'name': 'Philip'}]}]"/>
                <set-variable variableName="wm" value="2"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': []}]"/>
                <set-variable variableName="wm" value="3"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="watermarkInHeaderPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="watermark-header">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-body><![CDATA[#[output application/json --- {'watermark': watermark}]]]></http:request-body>
            <http:request-headers >
                <http:request-header key="Content-Type" value="application/json" />
            </http:request-headers>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[attributes.headers.water]]]></http:watermark-expression>
            <http:id-expression><![CDATA[#[item.name]]]></http:id-expression>
        </http:polling-source>
        <munit-tools:queue queueName="watermark_header_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="watermark-header-test-case">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="watermarkInHeaderListenerFlow"/>
            <munit:enable-flow-source value="watermarkInHeaderPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_header_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>

    <flow name="watermarkIntoHeaderListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/watermark-into-header"/>
        <choice>
            <when expression="#[attributes.headers.watermark == '0']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}], 'wm': 1}]"/>
            </when>
            <when expression="#[attributes.headers.watermark == '1']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Jola'}], 'wm': 2}]"/>
            </when>
            <when expression="#[attributes.headers.watermark == '2']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Paulina'}, {'name': 'Philip'}], 'wm': 3}]"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': [], 'wm': 4}]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="watermarkIntoHeaderPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="watermark-into-header">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-headers >
                <http:request-header key="watermark" value="#[watermark default 0]" />
            </http:request-headers>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[payload.wm]]]></http:watermark-expression>
            <http:id-expression><![CDATA[#[item.name]]]></http:id-expression>
        </http:polling-source>
        <munit-tools:queue queueName="watermark_into_headers_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="watermark-into-headers-test-case">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="watermarkIntoHeaderListenerFlow"/>
            <munit:enable-flow-source value="watermarkIntoHeaderPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_headers_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>

    <flow name="watermarkIntoQueryParamsListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/watermark-into-query"/>
        <choice>
            <when expression="#[attributes.queryParams.watermark == '0']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}], 'wm': 1}]"/>
            </when>
            <when expression="#[attributes.queryParams.watermark == '1']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Jola'}], 'wm': 2}]"/>
            </when>
            <when expression="#[attributes.queryParams.watermark == '2']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Paulina'}, {'name': 'Philip'}], 'wm': 3}]"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': [], 'wm': 4}]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="watermarkIntoQueryParamsPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="watermark-into-query">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-query-params >
                <http:request-query-param key="watermark" value="#[watermark default 0]" />
            </http:request-query-params>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[payload.wm]]]></http:watermark-expression>
            <http:id-expression><![CDATA[#[item.name]]]></http:id-expression>
        </http:polling-source>
        <munit-tools:queue queueName="watermark_into_query_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="watermark-into-query-test-case">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="watermarkIntoQueryParamsListenerFlow"/>
            <munit:enable-flow-source value="watermarkIntoQueryParamsPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="watermark_into_query_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>


    <flow name="identityListenerFlow">
        <http:listener config-ref="watermarkListenerConfig" path="/identity"/>
        <choice>
            <when expression="#[payload.watermark == null]">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Adam'}, {'name': 'Maks'}, {'name': 'Franek'}], 'wm': 0}]"/>
            </when>
            <when expression="#[payload.watermark == '0']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Jola'}, {'name': 'Franek'}], 'wm': 1}]"/>
            </when>
            <when expression="#[payload.watermark == '1']">
                <set-payload value="#[output application/json --- {'items': [{'name': 'Antonina'}, {'name': 'Paulina'}, {'name': 'Franek'}, {'name': 'Philip'}], 'wm': 2}]"/>
            </when>
            <otherwise>
                <set-payload value="#[output application/json --- {'items': [], 'wm': 3}]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="identityPollingFlow">
        <http:polling-source config-ref="watermarkRequestConfig" path="identity">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <http:request-body><![CDATA[#[output application/json --- {'watermark': watermark}]]]></http:request-body>
            <http:request-headers >
                <http:request-header key="Content-Type" value="application/json" />
            </http:request-headers>
            <http:split-expression><![CDATA[#[output application/json --- payload.items]]]></http:split-expression>
            <http:watermark-expression><![CDATA[#[payload.wm]]]></http:watermark-expression>
            <http:id-expression><![CDATA[#[item.name]]]></http:id-expression>
        </http:polling-source>
        <munit-tools:queue queueName="identity_queue">
            <munit-tools:value>#[payload]</munit-tools:value>
        </munit-tools:queue>
    </flow>

    <munit:test name="identity-test-case" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="identityListenerFlow"/>
            <munit:enable-flow-source value="identityPollingFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
            <munit-tools:dequeue timeout="1" timeoutUnit="SECONDS" queueName="identity_queue"/>
            <set-variable variableName="names" value="#[vars.names ++ payload.name]"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Adam')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Maks')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Franek')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Antonina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Jola')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Paulina')]"/>
            <munit-tools:assert-that expression="#[vars.names]" is="#[MunitTools::containsString('Philip')]"/>
        </munit:validation>
    </munit:test>

</mule>