functional-tests/src/test/resources/http-listener-disable-timeouts-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <configuration defaultResponseTimeout="100"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${port}"/>
    </http:request-config>

    <flow name="httpFlowWithDefaultResponseTimeout">
        <http:request config-ref="requestConfig" path="/service" method="POST"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="httpFlowWithCustomResponseTimeout">
        <http:request config-ref="requestConfig" path="/service" method="POST" responseTimeout="200"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="server">
        <http:listener config-ref="listenerConfig" path="/service"/>
        <test:processor waitTime="500" appendString=" folks"/>
    </flow>

</mule>