functional-tests/src/test/resources/http-invalid-transfer-encoding-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig" rejectInvalidTransferEncoding="true">
        <http:listener-connection host="localhost" port="${port}" />
    </http:listener-config>

    <flow name="flow">
        <http:listener path="/test" config-ref="listenerConfig" />
        <logger level="ERROR" message="#[payload]" />
    </flow>
</mule>
