src/test/resources/http-listener-response-streaming-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <object name="streamProcessor" class="org.mule.test.http.functional.listener.HttpListenerResponseStreamingTestCase$StreamProcessor"/>

    <configuration>
        <expression-language>
            <import class="org.mule.test.http.functional.listener.HttpListenerResponseStreamingTestCase"/>
            <alias name="stringPayload" expression="HttpListenerResponseStreamingTestCase.TEST_BODY"/>
            <alias name="mapPayload" expression="HttpListenerResponseStreamingTestCase.TEST_BODY_MAP"/>
        </expression-language>
    </configuration>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="stringFlow">
        <http:listener config-ref="listenerConfig" path="/string"/>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="stringWithContentLengthHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/stringWithContentLengthHeader">
            <http:response>
                <http:headers>
                    #[{'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="stringWithTransferEncodingFlow">
        <http:listener config-ref="listenerConfig" path="/stringWithTransferEncodingHeader">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="stringWithTransferEncodingAndContentLengthFlow">
        <http:listener config-ref="listenerConfig" path="/stringWithTransferEncodingAndContentLengthHeader">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked', 'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="inputStreamFlow">
        <http:listener config-ref="listenerConfig" path="/inputStream"/>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="inputStreamWithContentLengthHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/inputStreamWithContentLengthHeader">
            <http:response>
                <http:headers>
                    #[{'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="inputStreamWithTransferEncodingFlow">
        <http:listener config-ref="listenerConfig" path="/inputStreamWithTransferEncodingHeader">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked'}]
                </http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="inputStreamWithTransferEncodingAndContentLengthFlow">
        <http:listener config-ref="listenerConfig" path="/inputStreamWithTransferEncodingAndContentLengthHeader">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked', 'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="neverStringFlow">
        <http:listener config-ref="listenerConfig" path="/neverString" responseStreamingMode="NEVER"/>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="neverStringTransferEncodingHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/neverStringTransferEncodingHeader" responseStreamingMode="NEVER">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="neverInputStreamFlow">
        <http:listener config-ref="listenerConfig" path="/neverInputStream"  responseStreamingMode="NEVER"/>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="neverInputStreamTransferEncodingHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/neverInputStreamTransferEncodingHeader"  responseStreamingMode="NEVER">
            <http:response>
                <http:headers>
                    #[{'Transfer-Encoding' : 'chunked'}]
                </http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="alwaysStringFlow">
        <http:listener config-ref="listenerConfig" path="/alwaysString"  responseStreamingMode="ALWAYS"/>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="alwaysStringContentLengthHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/alwaysStringContentLengthHeader" responseStreamingMode="ALWAYS">
            <http:response>
                <http:headers>
                    #[{'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:stringPayload]"/>
    </flow>

    <flow name="alwaysInputStreamFlow">
        <http:listener config-ref="listenerConfig" path="/alwaysInputStream" responseStreamingMode="ALWAYS"/>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="alwaysInputStreamContentLengthHeaderFlow">
        <http:listener config-ref="listenerConfig" path="/alwaysInputStreamContentLengthHeader" responseStreamingMode="ALWAYS">
            <http:response>
                <http:headers>
                    #[{'Content-Length' : server.systemProperties.'stringPayloadLength'}]
                </http:headers>
            </http:response>
        </http:listener>
        <flow-ref name="streamProcessor"/>
    </flow>

    <flow name="mapFlow">
        <http:listener config-ref="listenerConfig" path="/map">
            <http:response>
                <http:headers>
                    #[{'Content-Type' : 'application/x-www-form-urlencoded'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:mapPayload]"/>
    </flow>

    <flow name="alwaysMapFlow">
        <http:listener config-ref="listenerConfig" path="/alwaysMap" responseStreamingMode="ALWAYS">
            <http:response>
                <http:headers>
                    #[{'Content-Type' : 'application/x-www-form-urlencoded'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:mapPayload]"/>
    </flow>

    <flow name="neverMapFlow">
        <http:listener config-ref="listenerConfig" path="/neverMap" responseStreamingMode="NEVER">
            <http:response>
                <http:headers>
                    #[{'Content-Type' : 'application/x-www-form-urlencoded'}]
                </http:headers>
            </http:response>
        </http:listener>
        <!-- TODO HTTPC-177: Remove mel expression -->
        <set-payload value="#[mel:mapPayload]"/>
    </flow>

</mule>
