src/test/resources/http-request-form-params-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="config">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="formParamOutbound">
        <http:request config-ref="config" path="testPath" method="POST">
            <http:body>
                #[
                %dw 2.0
                output application/x-www-form-urlencoded
                ---
                {
                    testName1: "testValue1",
                    testName2: "testValue2"
                }]
            </http:body>
        </http:request>
        <object-to-string-transformer/>
    </flow>

    <flow name="formParamInbound">
        <http:request config-ref="config" path="testPath" method="GET"/>
        <set-payload value="#[output text/plain --- payload.testName1 ++ payload.testName2]"/>
        <object-to-string-transformer/>
    </flow>

</mule>
