src/test/resources/http-request-functional-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="requestConfig" basePath="basePath">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="requestConfigHttp">
        <http:request-connection host="localhost"/>
    </http:request-config>

    <http:request-config name="requestConfigHttps">
        <http:request-connection protocol="HTTPS" host="localhost"/>
    </http:request-config>

    <flow name="requestFlow">
        <http:request config-ref="requestConfig" method="POST" path="requestPath"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="requestFlowWithCustomCorrelationId">
        <http:request config-ref="requestConfig" method="POST" path="requestPath" correlationId="customCorrelationId"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="neverSendCorrelationId">
        <http:request config-ref="requestConfig" method="POST" path="requestPath" sendCorrelationId="NEVER" correlationId="customCorrelationId"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="clashingCorrelationIds">
        <http:request config-ref="requestConfig" method="POST" path="requestPath" correlationId="override me">
            <http:headers>
                #[{'X-Correlation-ID' : 'customCorrelationId'}]
            </http:headers>
        </http:request>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="requestPropertiesFlow">
        <http:request config-ref="requestConfig" method="POST" path="request/{param1}/{param2}">
            <http:headers>
                #[{'X-Custom-Int' : 5, 'X-Custom-String' : '6'}]
            </http:headers>
            <http:uri-params>
                #[{'param1' : 1, 'param2' : '2'}]
            </http:uri-params>
            <http:query-params>
                #[{'query1' : 4, 'query2' : '5'}]
            </http:query-params>
        </http:request>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <!-- MULE-8956 -->
    <http:request-config name="blockingRequestConfig" basePath="basePath">
        <http:request-connection host="localhost" port="${blockingHttpPort}"/>
    </http:request-config>
    <http:listener-config name="blockingListenerConfig" basePath="basePath">
        <http:listener-connection host="localhost" port="${blockingHttpPort}"/>
    </http:listener-config>

    <flow name="blockingRequestFlow">
        <flow-ref name="blockingRequest"/>
    </flow>
    <flow name="remote">
        <http:listener config-ref="blockingListenerConfig" path="/remote" allowedMethods="GET"/>
        <set-payload value="#[output application/xml --- { root: {node: 'value'} } ]"/>
    </flow>
    <flow name="blockingRequest">
        <http:request config-ref="blockingRequestConfig" path="remote" method="GET"/>
        <set-payload value="#[output application/java --- payload.root.node]"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

</mule>
