src/test/resources/http-proxy-template-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
               http://www.mulesoft.org/schema/mule/test  http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <object name="proxyPolicyProcessor" class="org.mule.test.http.functional.proxy.HttpProxyTemplateTestCase$ProxyPolicyProcessor"/>

    <object name="proxyProcessor" class="org.mule.test.http.functional.proxy.HttpProxyTemplateTestCase$ProxyProcessor"/>

    <http:listener-config name="proxyConfig">
        <http:listener-connection host="localhost" port="${proxyPort}"/>
    </http:listener-config>

    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="proxyPolicyTemplate">
        <http:listener config-ref="proxyConfig" path="/policy/*">
            <http:response statusCode="#[attributes.statusCode]" reasonPhrase="#[attributes.reasonPhrase]" >
                <http:headers>#[attributes.headers]</http:headers>
            </http:response>
        </http:listener>

        <script:execute engine="groovy" target="isExpectedThreadName">
            <script:code>
                return java.lang.Thread.currentThread().getName().startsWith('[MuleRuntime].io')
            </script:code>
        </script:execute>
        <test:assert count="1" expression="#[vars.isExpectedThreadName]"/>

        <flow-ref name="proxyPolicyProcessor" />

        <http:request config-ref="requestConfig" method="#[attributes.method]" path="#[attributes.maskedRequestPath]">
            <http:headers>#[attributes.headers ++ {'X-Forwarded-For':attributes.remoteAddress}]</http:headers>
            <http:query-params>#[attributes.queryParams]</http:query-params>
        </http:request>
        <script:execute engine="groovy" target="isExpectedThreadName">
            <script:code>
                return java.lang.Thread.currentThread().getName().startsWith('[MuleRuntime].io')
            </script:code>
        </script:execute>
        <test:assert count="1" expression="#[vars.isExpectedThreadName]"/>

        <flow-ref name="proxyPolicyProcessor" />
    </flow>

    <flow name="proxyTemplate">
        <http:listener config-ref="proxyConfig" path="/*">
            <http:response statusCode="#[attributes.statusCode]" reasonPhrase="#[attributes.reasonPhrase]" >
                <http:headers>#[attributes.headers]</http:headers>
            </http:response>
        </http:listener>

        <script:execute engine="groovy" target="isExpectedThreadName">
            <script:code>
                return java.lang.Thread.currentThread().getName().startsWith('[MuleRuntime].io')
            </script:code>
        </script:execute>
        <test:assert count="1" expression="#[vars.isExpectedThreadName]"/>

        <flow-ref name="proxyProcessor"/>

        <http:request config-ref="requestConfig" method="#[attributes.method]" path="#[attributes.maskedRequestPath]">
            <http:headers>#[attributes.headers ++ {'X-Forwarded-For':attributes.remoteAddress}]</http:headers>
            <http:query-params>#[attributes.queryParams]</http:query-params>
        </http:request>
        <script:execute engine="groovy" target="isExpectedThreadName">
            <script:code>
                return java.lang.Thread.currentThread().getName().startsWith('[MuleRuntime].io')
            </script:code>
        </script:execute>
        <test:assert count="1" expression="#[vars.isExpectedThreadName]"/>

        <flow-ref name="proxyProcessor"/>
    </flow>

</mule>
