src/test/resources/http-null-headers-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="lisConfig">
        <http:listener-connection host="localhost" port="${serverPort}" protocol="HTTP"/>
    </http:listener-config>

    <http:request-config name="reqConfig">
        <http:request-connection host="localhost" protocol="HTTP" port="${serverPort}"/>
    </http:request-config>

    <flow name="server">
        <http:listener path="test" allowedMethods="GET" config-ref="lisConfig">
            <http:response statusCode="200" reasonPhrase="OK">
                <http:body>#[payload]</http:body>
                <http:headers><![CDATA[#[output application/java
                    ---
                    null
                ]]]></http:headers>
            </http:response>
        </http:listener>
        <set-payload value="HEY"/>
    </flow>

    <flow name="client">
        <http:request path="/test" config-ref="reqConfig"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

</mule>
