src/test/resources/http-listener-authentication-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
        http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <spring:config name="springConfig" files="http-listener-authentication-config-beans.xml"/>

    <mule-ss:security-manager>
        <mule-ss:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager"/>
    </mule-ss:security-manager>


    <http:listener-config name="listenerConfigBasicAuth">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="listenerBasicAuth">
        <http:listener config-ref="listenerConfigBasicAuth" path="/basic"/>
        <http:basic-security-filter realm="mule-realm" securityProviders="#[[attributes.queryParams.provider]]"/>
        <set-payload value="TestBasicAuthOk"/>
        <error-handler>
            <on-error-propagate type="http:BASIC_AUTHENTICATION">
                <test:queue name="basicAuthentication"/>
            </on-error-propagate>
            <on-error-propagate type="http:SECURITY">
                <test:queue name="security"/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>
