src/test/resources/http-request-headers-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="config">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="configWithDefaults">
        <http:request-connection host="localhost" port="${httpPort}"/>
        <http:default-headers>
            <http:default-header key="testDefault" value="testDefaultValue"/>
        </http:default-headers>
    </http:request-config>

    <flow name="headerDefaultsOnly">
        <http:request config-ref="configWithDefaults" path="testPath"/>
    </flow>

    <flow name="headerAppendDefault">
        <http:request config-ref="configWithDefaults" path="testPath">
            <http:headers>
                #[{'testName1' : 'testValue1'}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="headerMultiKeyDefault">
        <http:request config-ref="configWithDefaults" path="testPath">
            <http:headers>
                #[{'testDefault' : 'testValue2'}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="headerList">
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[{'testName1' : 'testValue1', (vars.headerName) : vars.headerValue}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="headerMap">
        <http:request config-ref="config" path="testPath">
            <http:headers>#[vars.headers]</http:headers>
        </http:request>
    </flow>

    <flow name="headerOverride">
        <http:request config-ref="config" path="testPath">
            <http:headers>#[vars.headers ++ {'testName1':'testValue1'}]</http:headers>
        </http:request>
    </flow>

    <flow name="httpHeaders">
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[{'http.scheme' : 'testValue1'}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="connectionHeader">
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[{'Connection' : 'close'}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="outboundProperties">
        <http:request config-ref="config" path="testPath" method="POST"/>
    </flow>

    <flow name="hostHeader">
        <http:request config-ref="config" path="testPath">
            <http:headers>
                #[{'Host' : server.systemProperties.host}]
            </http:headers>
        </http:request>
    </flow>

    <flow name="transferEncodingHeader">
        <http:request config-ref="config" path="testPath" method="POST">
            <http:headers>
                #[{'Transfer-Encoding' : server.systemProperties.encoding}]
            </http:headers>
        </http:request>
    </flow>

</mule>
