src/test/resources/http-request-proxy-dynamic-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="requestConfig" basePath="basePath" >
        <http:request-connection host="localhost" port="${httpPort}" >
            <http:proxy-config>
                <!--The test should run theFlow twice setting variable proxyPort to different values-->
                <http:proxy host="localhost" port="#[vars.proxyPort]" />
            </http:proxy-config>
        </http:request-connection>
    </http:request-config>

    <flow name="theFlow">
        <http:request config-ref="requestConfig" path="requestPath"/>
    </flow>
</mule>
