src/test/resources/http-listener-attachment-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="testFlow1">
        <http:listener config-ref="listenerConfig" path="${formDataPath}">
            <http:response>
                <http:body>
                    #[
                    %dw 2.0
                    output multipart/form-data
                    ---
                    {
                        parts : [payload.parts[1], payload.parts[0]]
                    }]
                </http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart received content."/>
    </flow>

    <flow name="testFlow2">
        <http:listener config-ref="listenerConfig" path="${mixedPath}">
            <http:response>
                <http:body>
                    #[
                    %dw 2.0
                    output multipart/mixed boundary='the-boundary'
                    ---
                    {
                        parts : {
                            field1 : {
                                    headers : payload.parts.field1.headers - "Content-Disposition" ++ {
                                        "Content-Disposition" : {
                                            name : "field1"
                                        }
                                    },
                                    content : payload.parts.field1.content
                                }
                        }
                    }]
                </http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart mixed content."/>
    </flow>

    <flow name="onePartWhole">
        <http:listener config-ref="listenerConfig" path="${contentLength}" responseStreamingMode="NEVER">
            <http:response>
                <http:body>
                    #[
                    %dw 2.0
                    output multipart/form-data
                    ---
                    {
                    parts : {
                        file : {
                            headers : {
                                "Content-Disposition" : {
                                    "name" : "file",
                                    "filename": "file.ext"
                                    },
                                "Content-Type" : payload.^mimeType
                                },
                            content : payload
                            }
                        }
                    }]
                </http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart whole content."/>
    </flow>

    <flow name="onePartChunked">
        <http:listener config-ref="listenerConfig" path="${chunked}" responseStreamingMode="ALWAYS">
            <http:response>
                <http:body>
                    #[
                    %dw 2.0
                    output multipart/form-data
                    ---
                    {
                        parts : {
                            file : {
                                headers : {
                                    "Content-Disposition" : {
                                        "name" : "file",
                                        "filename": "file.ext"
                                        },
                                    "Content-Type" : payload.^mimeType
                                    },
                                content : payload
                            }
                        }
                    }]
                </http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart chunked content."/>
    </flow>

    <flow name="severalParts">
        <http:listener config-ref="listenerConfig" path="${filePath}">
            <http:response>
                <http:body><![CDATA[
                #[
                %dw 2.0
                output multipart/form-data
                ---
                {
                parts : {
                    field1 : {
                        headers : {
                            "Content-Type": "text/plain",
                            "Custom" : "myHeader"
                            },
                        content : "yes"
                        },
                    file : {
                        headers : {
                            "Content-Disposition" : {
                                "name" : "file",
                                "filename": "file.ext"
                                },
                            "Content-Type" : payload.^mimeType
                            },
                        content : payload
                        }
                    }
                }]
            ]]></http:body>
            </http:response>
        </http:listener>
        <logger message="Returning multipart content."/>
    </flow>

</mule>
