src/test/resources/http-request-response-validator-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:expression-response-validator name="globalValidator" expression="#[payload as String == '&lt;h1&gt;Response&lt;/h1&gt;']" />

    <http:request-config name="simpleConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="repeatableStreamingFlow">
        <http:request config-ref="simpleConfig" path="testPath" responseTimeout="500" >
            <http:response-validator>
                <http:expression-response-validator expression="#[payload as String == '&lt;h1&gt;Response&lt;/h1&gt;']" />
            </http:response-validator>
        </http:request>
    </flow>

    <flow name="globalValidatorFlow">
        <http:request config-ref="simpleConfig" path="testPath" responseTimeout="500" responseValidator="globalValidator" />
    </flow>

    <flow name="nonBooleanValidatorFlow">
        <http:request config-ref="simpleConfig" path="testPath" responseTimeout="500" >
            <http:response-validator>
                <http:expression-response-validator expression="#[4]" />
            </http:response-validator>
        </http:request>
    </flow>

    <flow name="falseExpressionFlow">
        <http:request config-ref="simpleConfig" path="testPath" responseTimeout="500" >
            <http:response-validator>
                <http:expression-response-validator expression="#[false]" />
            </http:response-validator>
        </http:request>
    </flow>
</mule>