src/test/resources/http-proxy-template-error-handling-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">

    <spring:config name="springConfig" files="http-proxy-template-error-handling-config-beans.xml"/>

    <http:listener-config name="proxyConfig">
        <http:listener-connection host="localhost" port="${proxyPort}"/>
    </http:listener-config>
    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="noExceptionStrategyFlow">
        <http:listener config-ref="proxyConfig" path="noExceptionStrategy" responseStreamingMode="AUTO" />
        <http:request config-ref="requestConfig" method="#[mel:message.attributes.method]" path="#[mel:message.attributes.requestPath]"/>
    </flow>

    <flow name="catchExceptionStrategyFlow">
        <http:listener config-ref="proxyConfig" path="catchExceptionStrategy" responseStreamingMode="AUTO" />
        <http:request config-ref="requestConfig" method="#[mel:message.attributes.method]]" path="#[mel:message.attributes.requestPath]"/>
        <error-handler>
            <on-error-continue>
                <processor ref="catchSensingMessageProcessor"/>
                <!--TODO(gfernandes) MULE-9738 Use constant from test class when support for accessing test classes is added to the fwk #[mel:org.mule.test.module.http.functional.proxy.HttpProxyTemplateErrorHandlingTestCase.SERVICE_DOWN_MESSAGE] -->
                <set-payload value="Service Down"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="rollbackExceptionStrategyFlow">
        <http:listener config-ref="proxyConfig" path="rollbackExceptionStrategy" responseStreamingMode="AUTO" />
        <http:request config-ref="requestConfig" method="#[mel:message.attributes.method]]" path="#[mel:message.attributes.requestPath]"/>
        <error-handler>
            <on-error-propagate>
                <processor ref="rollbackSensingMessageProcessor"/>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
