src/test/resources/http-request-query-params-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="config">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <http:request-config name="configWithDefaults">
        <http:request-connection host="localhost" port="${httpPort}"/>
        <http:default-query-params>
            <http:query-param key="filter" value="username,apps"/>
        </http:default-query-params>
    </http:request-config>

    <flow name="queryParamList">
        <http:request config-ref="config" path="testPath" method="POST">
            <http:query-params>
                #[{'testName1' : 'testValue1', (vars.paramName) : vars.paramValue}]
            </http:query-params>
        </http:request>
    </flow>

    <flow name="queryParamDefaultsOnly">
        <http:request config-ref="configWithDefaults" path="testPath"/>
    </flow>

    <flow name="queryParamAppendDefault">
        <http:request config-ref="configWithDefaults" path="testPath">
            <http:query-params>
                #[{'testName1' : 'testValue1'}]
            </http:query-params>
        </http:request>
    </flow>

    <flow name="queryParamMultiKeyDefault">
        <http:request config-ref="configWithDefaults" path="testPath">
            <http:query-params>
                #[{'filter' : 'level'}]
            </http:query-params>
        </http:request>
    </flow>

    <flow name="queryParamMap">
        <http:request config-ref="config" path="testPath">
            <http:query-params>#[vars.params]</http:query-params>
        </http:request>
    </flow>

    <flow name="multipleQueryParam">
        <http:request config-ref="config" path="testPath">
            <http:query-params>#[vars.params ++ {'testName1':'testValue1'}]</http:query-params>
        </http:request>
    </flow>

    <flow name="queryParamNulls">
        <http:request config-ref="config" path="testPath">
            <http:query-params>#[{'testName1' : null, 'testName2' : null}]</http:query-params>
        </http:request>
    </flow>
</mule>
