src/test/resources/http-polling-auth.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <object name="basicAuthProcessor" class="org.mule.test.http.functional.requester.HttpRequestPollingSourceAuthTestCase$BasicAuthProcessor"/>

    <http:request-config name="basicConfig">
        <http:request-connection host="localhost" port="${httpPort}">
            <http:authentication>
                <http:basic-authentication username="user" password="password"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="basicAuthRequest">
        <http:polling-source config-ref="basicConfig" path="/basic">
            <scheduling-strategy >
                <fixed-frequency frequency="1" timeUnit="SECONDS" startDelay="2"/>
            </scheduling-strategy>
        </http:polling-source>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
        <flow-ref name="basicAuthProcessor"/>
    </flow>

<!--    <http:request-config name="digestConfig">-->
<!--        <http:request-connection host="localhost" port="${httpPort}">-->
<!--            <http:authentication>-->
<!--                <http:digest-authentication username="#[vars.user]" password="#[vars.password]" />-->
<!--            </http:authentication>-->
<!--        </http:request-connection>-->
<!--    </http:request-config>-->

<!--    <flow name="digestAuthRequest">-->
<!--        <http:request config-ref="digestConfig" path="/digest" method="GET"/>-->
<!--        <set-payload value="#[%dw 2.0 output application/java -&#45;&#45; payload.^raw as String]"/>-->
<!--    </flow>-->

</mule>
