src/test/resources/http-request-inbound-attachments-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="requestFlow">
        <http:request config-ref="requestConfig" path="path" method="POST"/>
        <test:assert expression="sizeOf(payload.parts) == 2"/>
        <test:assert expression="payload.parts.partName1.headers.'Content-Type' == 'text/plain'"/>
        <test:assert expression="payload.parts.partName1.headers.'Custom' == 'myHeader'"/>
        <test:assert expression="payload.parts.partName1.content == 'Test part 1'"/>
        <test:assert expression="payload.parts[1].headers.'Content-Type' == 'text/html'"/>
        <test:assert expression="payload.parts[1].headers.'Content-Disposition'.filename == 'a.html'"/>
        <!--TODO: MULE-13401 - Adapt multipart test once DW bugs are fixed-->
        <!--<set-payload value="#[payload.parts.partName2.content]"/>-->
    </flow>

</mule>
