mule-http-connector/src/test/munit/expect-continue/http-expect-continue-client-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http-mock="http://www.mulesoft.org/schema/mule/http-mock"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http-mock http://www.mulesoft.org/schema/mule/http-mock/current/mule-http-mock.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <munit:config name="server-endpoint-test-case.xml" />

    <!-- Mock server config -->
    <munit:dynamic-port propertyName="mock.dynamic.port" />
    <http-mock:server-config name="serverConfig" >
        <http-mock:server-connection port="${mock.dynamic.port}" />
    </http-mock:server-config>

    <http:request-config name="HTTP_Request_configuration" enableCookies="true">
        <http:request-connection host="localhost" port="${dynamic.port}"/>
    </http:request-config>

    <!-- Configure client for testing the mock server -->
    <http-mock:client-config name="testClientConfig" />

    <!-- Test case for HTTP Expect continue -->

    <flow name="expectContinueFlow">
        <http-mock:server-endpoint config-ref="serverConfig" path="/expect-continue">
            <http-mock:response statusCode="201" reasonPhrase="Created" >
                <http-mock:body>#['Received payload: ' ++ (payload as String)]</http-mock:body>
            </http-mock:response>
        </http-mock:server-endpoint>
        <logger />
    </flow>
    <munit:test name="testExpect100Continue">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="expectContinueFlow" />
        </munit:enable-flow-sources>
        <munit:execution>
            <http:request method="POST" config-ref="HTTP_Request_configuration" path="/expect-continue">
                <http:body>
                    <![CDATA[#['some very large response to server']]]>
                </http:body>
                <http:headers>
                    <![CDATA[#[{
                'Expect': '100-continue',
                'Content-Type': 'application/json',
                'Content-Length': '160'
                }]]]>
                </http:headers>
            </http:request>
            <set-variable value="#[payload as String]" variableName="some very large response here"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]"
                                     is="#[MunitTools::equalTo(201)]" />
            <munit-tools:assert-that expression="#[attributes.reasonPhrase]"
                                     is="#[MunitTools::equalTo('Created')]" />
            <munit-tools:assert-that expression="#[attributes.headers['X-Expect-Header-Time'] as Number]"
                                     is="#[MunitTools::lessThan(attributes.headers['X-Continue-Sent-Time'] as Number)]" />
            <munit-tools:assert-that expression="#[attributes.headers['X-Continue-Sent-Time'] as Number]"
                                     is="#[MunitTools::lessThan(attributes.headers['X-Body-Received-Time'] as Number)]" />
            <munit-tools:assert-that expression="#[%dw 2.0 output application/java --- payload.^raw as String]"
                                     is="#[MunitTools::equalTo('Received payload: some very large response here')]" />

        </munit:validation>
    </munit:test>
</mule>
