mule-http-connector/src/test/resources/http-request-lifecycle-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>
    <http:request-config name="otherRequestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="simpleRequest">
        <http:request config-ref="requestConfig" path="/test" method="GET"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

    <flow name="otherRequest">
        <http:request config-ref="otherRequestConfig" path="/otherTest" method="GET"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.^raw as String]"/>
    </flow>

</mule>
