mule-http-connector/src/test/resources/http-request-outbound-parts-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
               http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="requestConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <flow name="partsFlow">
        <http:request config-ref="requestConfig" path="/" method="POST">
            <http:body><![CDATA[
                #[
                %dw 2.0
                output multipart/form-data
                ---
                {
                parts : {
                    partOne : {
                        headers : {
                            "Content-Type": "text/plain",
                            "Custom" : "myHeader"
                            },
                        content : "content 1"
                        },
                    partTwo : {
                        headers : {
                            "Content-Disposition" : {
                                "name": "partTwo",
                                "filename": "a.html"
                                },
                            "Content-Type" : payload.^mimeType
                            },
                        content : payload
                        }
                    }
                }]
            ]]></http:body>
        </http:request>
    </flow>

</mule>
