mule-http-connector/src/test/resources/http-listener-no-content-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <object name="streamingProcessor" class="org.mule.test.http.functional.listener.HttpListenerNoBodyStatusTestCase$StreamingProcessor"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="testFlow1">
        <http:listener path="empty" allowedMethods="GET" config-ref="listenerConfig">
            <http:response statusCode="#[attributes.queryParams.status]"/>
        </http:listener>
        <flow-ref name="streamingProcessor"/>
    </flow>

    <flow name="testFlow2">
        <http:listener path="content" allowedMethods="GET" config-ref="listenerConfig">
            <http:response statusCode="#[attributes.queryParams.status]"/>
        </http:listener>
        <set-payload value="WAT"/>
    </flow>

</mule>
